#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.issue-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 600px;
  width: 100%;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: auto;
}

.issue-form input,
.issue-form textarea {
  padding: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: none;
}

.issue-form input {
  padding: 0.8rem;

}

.issue-form select {
  padding: 0.5rem;

}

.issue-form button {
  padding: 0.5rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.issue-form button:hover {
  background-color: #0056b3;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  top: 0%;
  left: 0;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.1);
}